*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.header{
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.logo{
    line-height: 80px;
    font-family: Arial;
    font-size: 30px;
    font-weight: 600;
}
.fury{
    color: #5fa30f;
}
.search{
    margin-top: 20px;
}
.srch{
    float: left;
    width: 400px;
    height: 40px;
    font-size: 15px;
    font-family: Arial;
    border: 0.9px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    text-indent: 10px;
}
.srch:focus{
    outline: none;
}
.btn{
    float: right;
    font-size: 15px;
    font-family: Arial;
    color: #fff;
    font-weight: 600;
    border: 0.9px solid #5fa30f;
    background-color: #5fa30f;
    width: 100px;
    height: 42px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}
.btn:focus{
    outline: none;
}
.extra{
    width: 20%;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    color: #000;
    font-weight: 700;
}
nav{
    height: 50px;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.nav-link2{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}
/* -------------------------dropdown------------------ */
.link3{
    z-index: 9;
}
.dropdown{
    background-color: #f6f6f6;
    list-style-type: none;
    font-family: Arial;
    color: #000;
    display: none;
    z-index: 9;
    text-align: center;
}
.link3:hover > .dropdown{
    display: block;
    z-index: 9;
}



/* /////////////////////////////////////////////////// */
.extra1{
    width: 15%
}
.extra2 {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
/* ///////////////////////////////////////////// */
.banner{
    width: 100%;
    position: relative;
    z-index: -1;
}
.slide{
    width: 100%;
    height: 358px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.slide:nth-child(1){
    background-color: red;
    background-image: url("../media/img/rvslider1.jpg");
    animation-name: slide5;
}
.slide:nth-child(2){
    background-color: yellow;
    background-image: url("../media/img/rvslider4.png");
    animation-name: slide4;
}
.slide:nth-child(3){
    background-color: pink;
    background-image: url("../media/img/rvslider3.png");
    animation-name: slide3;
}
.slide:nth-child(4){
    background-color: orangered;
    background-image: url("../media/img/rvslider2.jpg");
    animation-name: slide2;
}
.slide:nth-child(5){
    background-color: red;
    background-image: url("../media/img/rvslider1.jpg");
    animation-name: slide1;
}

@keyframes slide1 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slide2 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slide3 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slide4 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slide5 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slide_text{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}
.banner_title{

}

/* ----------------------------------2nd nav ----------------------------------------- */
.head_con{
    width: 90%;
    position: relative;
    margin-top: 388px;
    margin-bottom: 30px;
}
.head1{
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.para{
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: dimgray;
}
.Categories{
    width: 85%;
}
.product{
    display: flex;
    justify-content: space-between;flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
figure{
    border: 0.9px solid gray;
}
figcaption{
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(22, 22, 22);
}

/* /////////// subscribe section ////////// */

.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    /* position: absolute; */
    /* top: 70px; */
    background-color: #f6f6f6;
    animation-name: pop;
    animation-duration: 5s;
    animation-iteration-count: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subscribe_container{
    background-image: url(../media/img/Untitled.png);
    width: 75%;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
}
.content{
    width: 35%;
    height: 300px;
    justify-content: center;
}
.sub_inp{
    float: left;
    width: 71.4%;
    height: 40px;
    font-size: 15px;
    font-family: Arial;
    border: 0.9px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    text-indent: 10px;
}
.sub_inp:focus{
    outline: none;
}
.sub_btn{
    float: right;
    font-size: 15px;
    font-family: Arial;
    color: #fff;
    font-weight: 600;
    border: 0.9px solid #5fa30f;
    background-color: #5fa30f;
    width: 100px;
    height: 42px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}
.sub_btn:focus{
    outline: none;
}
.off{
    color: #5fa30f;
}
.sub_title{
    font-size: 45px;
    color: #000;
    padding-bottom: 50px;
    font-family: segoe ui;
    font-weight: 100;
    text-align: center;
    padding-top: 75px;
}
.subt{
    color: #666;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
}
@keyframes pop {
    5%{
        display: block;
    }
    20%{
        display: none;
    }
    100%{
        display: none;
    }  
}

/* /////////////////////////////////////// */
.footer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 90px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}
.footer_container{
    justify-content: space-between;
}

.footer_child{
    width: 22%;
    height: 200px;
    color: #666;
    font-family: segoe ui;
    display: flex;
    flex-direction: column;

}
.quick_links{
    list-style-type: none;
}
.quick_link{
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer_title{
    font-family: segoe ui;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #000;
}
.blogs{
    list-style: disc;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 30px;
    margin-top: 10px;
}

.icon1{
    width: 100px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}
/* /////////////// copyright //////// */
.copyright{
    width: 100%;
    height: 30px;
    background-color: #f8f8f8;
    text-align: center;
    font-family: segoe ui;
    color: #666;
    line-height: 30px;
    border-top: 0.1px solid #666;
}
li, button{
    cursor: pointer;
}
.pay{
    margin-top: 7px;
}




